body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  color: #6c6c6b;
  margin: 0;
}

main {
  border: solid 1px #dadada;
  max-width: 1110px;
}

section {
  padding: 20px 100px 20px 100px;
}

.first_section_info {
  background-color: #f2f2f2;
  height: 30%;
  padding: 60px 100px 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #23264d;
}

h1 {
  font-weight: 300;
  font-size: 25px;
}

.first_section_info p {
  font-size: 12px;
}

.to_rent {
  height: 25px;
  padding: 0 18px;
  font-size: 12px;
  text-transform: uppercase;
  color: #3e3e3e;
}

.second_section_detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second_section_detail img {
  width: 400px;
  height: 200px;
}

ul {
  padding: 0;
  list-style: url("./img/check_icon.png");
  line-height: 2.5;
  font-size: 12px;
}

.third_section_contact {
  width: 60%;
  border: solid 1px #dadada;
}

.third_section_contact div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.third_section_contact h3 {
  color: #23264d;
  font-weight: 300;
  margin: 10px 0;
}

.third_section_contact svg {
  height: 17px;
}
